.my_container{
    display: flex;
    /* flex-direction: column; */
    width: 70%;
    height: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.223); */
    /* margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(16, 16, 17, 0.2);
    */
    /* padding: 20px; */
    justify-content: space-between;
}